<div class="p-3" fxFlex fxLayout="column">
  <div
    class="single-card"
    fxFlex
    fxLayout="column"
    fxLayoutAlign="space-between"
  >
    <h2 class="p-3 m-0" fxFlexAlign="center">
      {{ project.title }}
    </h2>
    <p fxFlex fxFlexAlign="center center" class="p-3">
      {{ project.desc }}
    </p>
    <img class="mb-2 project-img" src="{{ project.img }}" alt="" />
    <p fxLayout="row" fxLayoutAlign="end" fxLayoutGap="7px" class="px-2">
      <a href="{{ project.url }}" class="primary-button" target="blank">
        <mat-icon>favorite</mat-icon></a
      >
      <a href="{{ project.url }}" class="primary-button" target="blank">
        <mat-icon>share</mat-icon></a
      >
    </p>
  </div>
</div>
