<mat-sidenav-container>
  <mat-sidenav
    [(opened)]="isOpened"
    position="end"
    fxLayoutAlign="center center"
    fxLayout="column"
  >
    <div fxLayout="row" fxLayoutAlign="end" class="px-3 pt-3">
      <button (click)="onClose()" mat-icon-button>
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <app-nav-menu></app-nav-menu>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header></app-header>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
