.image-shadow {
  @include image-shadow;
}
.primary-button {
  @include primary-button;
}
.home-banner {
  min-height: calc(
    100% - 64px
  ); // 64px is the height of the mat to bar (the header)
}
.single-card {
  border-radius: 6px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  background-color: rgba(90, 88, 88, 0.2);
  transition: 0.2s;
  opacity: 0.8;
  cursor: pointer;
  &:hover {
    background-color: rgba(126, 126, 126, 0.109);
    opacity: 1;
    transform: translateY(-4px);
    box-shadow: 0 2px 3px -3px rgba(0, 0, 0, 0.2),
      0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 3px 3px 0 rgba(0, 0, 0, 0.12);
  }
}
.project-img {
  object-fit: cover;
  width: 100%;
  height: 217px;
  object-position: top;
}
